/*BASES*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
   outline: 0;
}
html, body {
   height: 100%;
   background: #121416;
   color: #fff;
   font-size: 16px;
   font-family: "Roboto";
}

.container {
   height: 100%;
   display: flex;
}

.tab {
   display: none;
   flex: 1;
   flex-direction: column;
   background:white;
}

.tab .webview-full{
  width: 100%;
  height: 100%;
}

.tab .open-services{
   width: 100%;
   height: 100%;
   background: #2c2f33;
}
.tab .open-services .banner-services{
   background-color: #1e2124;
   width: 100%;
   padding: 18px;
   font-size: 32px;
   font-weight: 300;
}
.tab .alert{
   background-color: #f1c40f;
   border-bottom: 3px solid #f39c12;
   width: 100%;
   padding: 6px;
   font-size: 12px;
   font-weight: 300;
}
.tab .open-services .services-list{
   padding: 12px;
}
.tab .open-services .services-list .categorie{
   display: block;
   font-size: 24px;
   font-weight: 300;
}
.tab .open-services .services-list .icon{
   height: 64px;
   width: auto;
   margin: 12px;
   cursor: pointer;
}

.banner {
   background: linear-gradient(0deg, rgba(114,139,218,0.7) 0%, rgba(133,114,218,1) 100%), url('../imgs/banner/room.png') center center;
   display: flex;
   flex-direction: column;
   flex: 0 0 240px;
   position:relative
}
.banner .discord{
   margin-top: auto;
   cursor: pointer;
}
.banner .banner-hide{
   position: absolute;
   right:12px;
   top:12px;
   width: auto;
   height: 50px;
   cursor: pointer;
   background-color: #7289da;
   color: white;
   font-size: 18px;
   padding-right: 12px;
   border-radius: 32px;
   font-weight: 300;
}
.banner .banner-hide img{
   width: 50px;
   height: auto;
   vertical-align: middle;
}


.services {
   height: 100%;
   background: #1e2124;
   flex: 0 0 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: auto;
   padding: 18px 0 18px 0;
   -ms-overflow-style: none;
   position: relative;
}
.services::-webkit-scrollbar {
   display: none;
}
.service {
   width: 50px;
   height: 50px;
   border-radius: 25px;
   background-color: #2e3136;
   background-repeat: no-repeat;
   margin-bottom: 8px;
   cursor: pointer;
   position: relative;
}
.service::before {
   position: absolute;
   top: 20px;
   left: -15px;
   content: " ";
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 25px;
}
.service .close{
   width: 18px;
   height: auto;
   position: absolute;
   top: 0px;
   right: 0px;
}
.service .service-icon {
   border-radius: inherit;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.service .service-icon > img {
   border-radius: inherit;
   max-width: 100%;
}
.service.service-jabbo {
   margin-bottom: 46px;
   text-align: center;
}
.service.service-jabbo::after {
   content: "JABBO.EU";
   color: rgba(255, 255, 255, 0.3);
   pointer-events: none;
   font-weight: 300;
   font-size: 0.55rem;
   position: absolute;
   bottom: -35px;
   left: 3px;
   padding-bottom: 10px;
   border-bottom: 2px solid #2a2e32;
}